a{color: #000;transition: all ease .3s}
a:hover,a:focus{text-decoration:none;color:#ef292a}
body{color: #000;background:#fff;line-height:1.5;font-family: 'Inter', sans-serif;font-size:14px}
strong{font-weight: 700}.pn-wrapper img{max-width:100%}
.pn-wrapper ul,.pn-wrapper ol{list-style-position: inside}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{line-height:1.3}
/* .lds-dual-ring {display: inline-block;width: 80px;height: 80px;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%)}
.lds-dual-ring:after {content: " ";display: block;width: 64px;height: 64px;margin: 8px;border-radius: 50%;border: 6px solid #ef292a;border-color: #fff transparent #ef292a transparent;animation: lds-dual-ring 1.2s linear infinite;}
@keyframes lds-dual-ring {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}
.before-loading{transition: all ease .3s;position:fixed;z-index:2147483645;width:100%;height:100%;background:#fff;top:0;left:0;transform-origin: center;} */
header .pn-header{background-color: #fff;position: relative;box-shadow: 0 1px 21px rgba(5,22,35,.2);-moz-box-shadow: 0 1px 21px rgba(5,22,35,.2);-webkit-box-shadow: 0 1px 21px rgba(5,22,35,.2);z-index: 100;transition: all ease .3s;-moz-transition: all ease .3s;-webkit-transition: all ease .3s;}
header .pn-quancao{margin-bottom: 0;}
.pn-logo{float: left;vertical-align: middle;height: 100px;padding: 15px 0}
.pn-logo img{max-width: 100%;max-height: 100%}
header .pn-header .pn-button{color: #fff;}
.pn-address:before{font-family: 'FontAwesome';content: "\f041";margin-right: 5px}
.pn-phone:before{font-family: 'FontAwesome';content: "\f095";margin-right: 5px}
.pn-email:before{font-family: 'FontAwesome';content: "\f0e0";margin-right: 5px}
header.fixed .pn-header{position:fixed;top:0;width:100%;left:0;z-index:999;}
header.fixed .pn-logo{height: 70px;padding: 5px 0}
#close-menu{display: none}
.pn-header-right{float: right}
/* @keyframes button2{0%{box-shadow:0 0 0 0 #2ea650}75%{box-shadow:0 0 0 16px rgba(109,181,27,0)}100%{box-shadow:0 0 0 0 rgba(109,181,27,0)}}
@-moz-keyframes button2{0%{box-shadow:0 0 0 0 #2ea650}75%{box-shadow:0 0 0 16px rgba(109,181,27,0)}100%{box-shadow:0 0 0 0 rgba(109,181,27,0)}}
@-webkit-keyframes button2{0%{box-shadow:0 0 0 0 #2ea650}75%{box-shadow:0 0 0 16px rgba(109,181,27,0)}100%{box-shadow:0 0 0 0 rgba(109,181,27,0)}} */
.pn-header-right .pn-button{float: right;margin: 29.5px 0 29.5px 30px;animation: button2 1s infinite;-moz-animation: button2 1s infinite;-webkit-animation: button2 1s infinite;background-color: #00247d;border-radius: 100px;}
.pn-header-right .pn-button:hover{animation: initial;-moz-animation: initial;-webkit-animation: initial}
.pn-menu,.pn-menu ul{margin-bottom: 0;padding-left: 0;list-style: none}
.pn-menu > li{padding: 41px 0 38px 0}
.pn-menu > li > a{font-size: 14px;display: block;text-transform: uppercase}
.pn-menu > li:not(:first-child){margin-left: 30px}
.pn-breadcrumb{font-size: 18px}
.owl-carousel .owl-dots{text-align: center;height: 7px;}
.owl-carousel .owl-dots .owl-dot{width: 7px;height: 7px;border-radius: 100px;transition: all ease .3s;display: inline-block;margin: 0 4px;cursor: pointer;background-color: #c1c1c1;vertical-align: top;}
.owl-carousel .owl-dots .owl-dot.active{width: 30px;background-color: #ef292a;}
.pn-quancao{margin-bottom: 30px}
.pn-image{display: block;text-align: center;overflow: hidden;border-radius: 10px;}
.pn-quancao.pn-image{border-radius: 0;}
.pn-image img{max-width: 100%;transition: all ease .3s;-moz-transition: all ease .3s;-webkit-transition: all ease .3s}
.pn-image:hover img{transform: scale(1.2);-moz-transform: scale(1.2);-webkit-transform: scale(1.2)}
.pn-item .pn-name{font-weight: bold;display: block;}
.pn-item .pn-name + p{color: #707a8d;margin-bottom: 0;}
.pn-button{padding: 10px 40px;color: #000;display: inline-block;border-radius: 100px;font-size: 14px;line-height: 19px;font-weight: bold;transition: all ease .3s;background: #ececec}
.pn-button:hover,.pn-button:focus{box-shadow: 5px 5px 1px rgba(0,0,0,.1);background-color: #ef292a;color: #fff}
.pn-title{font-weight:bold;margin:0 0 50px 0;font-size:26px;line-height:31px;color: #ef292a;text-align: center;position: relative;text-transform: uppercase;}
footer{background-color: #f3f3f3;padding: 50px 0 20px 0;margin-top: 30px;}
footer .row [class*='col']{margin-bottom: 30px}
footer .row [class*='col'] ul{margin-bottom: 0;list-style: none;padding-left: 0;}
footer .row [class*='col'] ul li:not(:last-child){margin-bottom: 5px;}
footer .row [class*='col'] .pn-title-ft{font-size: 16px;font-weight: bold;color: #00247d;margin: 0 0 10px 0;}
footer .row [class*='col'] ul li .fa{float: left;width: 23px;height: 23px;border-radius: 100px;border: 1px solid #000;margin-right: 5px;text-align: center;line-height: 23px;}
footer .row [class*='col'] ul.pn-info li{min-height: 23px;line-height: 23px}
footer .row [class*='col'] ul.pn-info li:not(:last-child){margin-bottom: 10px}
footer .pn-logo-ft img{max-width: 100%;}
.pn-copyright{text-align: center;padding: 15px 0}
.pn-copyright a{display: inline-block;font-weight: bold;font-size: 16px;line-height: 21px;margin-bottom: 5px}
.pn-sticky{position: sticky;top: 100px;}
@-webkit-keyframes coccoc-alo-circle-img-anim{0%{-webkit-transform:rotate(0) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0) scale(1) skew(1deg)}}
.pn-hotline{background-color:#1e9546;color:#fff;width:60px;height:60px;border-radius:100px;position:fixed;right:15px;display:none;z-index:100;bottom:120px;font-size:40px;text-align:center;line-height:65px;box-shadow:0 0 5px rgb(0,0,0,.5);-webkit-animation-name: coccoc-alo-circle-img-anim; animation-name: coccoc-alo-circle-img-anim; -webkit-animation-delay: 1s; animation-delay: 1s; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out}
.pn-hotline:focus,.pn-hotline:hover{color:#fff}
.pn-wrapper-pagination{text-align: center;margin-bottom: 30px}
.pagination{margin: 0;vertical-align: top;}
.pagination li a{color: #000;background-color: #e6e6e6;border-radius: 5px;margin-right: 4px;min-width: 32px;text-align: center;}
.pagination>li>a, .pagination>li>span,.pagination>li:hover>a, .pagination>li:hover>span{border: none;background-color: #e6e6e6;}
.pagination li.active a,.pagination li.active:hover a{background-color: #00247d;color: #fff}
.wrapper-anchor{ border: 1px solid #dadada; padding: 20px; border-radius: 10px; margin-bottom: 30px;background-color: #f8f8f8}
.wrapper-anchor .anchor-title{font-weight: bold;font-size: 20px;line-height: 25px;margin: 0 0 15px 0;display: block}
.wrapper-anchor ul,.wrapper-anchor ol{ margin: 0; padding-left: 0; list-style-position: inside}
.wrapper-anchor ul li,.wrapper-anchor ol li{cursor: pointer}
.wrapper-anchor ul li:not(:last-child),.wrapper-anchor ol li:not(:last-child){margin-bottom: 10px}
.wrapper-anchor ul li ul,.wrapper-anchor ol li ol{margin-top: 10px;padding-left: 15px}
/* .pn-replace{overflow: hidden;display: none;z-index: 1000;position: fixed;right: 15px;bottom: 15px;box-shadow: 0 0 5px rgba(0,0,0,.23);border-radius: 100%;width: 60px;height: 60px}
.pn-replace *{max-width: 100%;max-height: 100%;border-radius: 100%}.pn-replace.pn-zalo{right: 15px;background:#fff;padding:5px;bottom: 90px}.pn-replace.pn-zalo>strong{text-indent:-99999px;background:url(../images/zalo.jpg) no-repeat 0 0;height:50px;width:50px;display: block;background-size: contain}
.pn-replace.pn-mesager{display: block}
.g-recaptcha{display: inline-block; transform: scale(0.85)}
.zalo-chat-widget {right: 10px !important;bottom: 15px !important} */
@media only screen and (min-width: 1500px){
    body{font-size:16px}
    .container{width:1440px}
    .pn-menu > li{padding: 38px 0}
    .pn-menu > li:not(:first-child){margin-left: 40px}
    .pn-menu > li > a{font-size: 16px;}
    header.fixed .pn-header-right .pn-button{margin-top: 17px;margin-bottom: 16px;}
}
@media only screen and (max-width: 1499px){
    .pn-logo{height: 90px;padding: 10px 0;}
    .pn-menu > li{padding: 36px 0 33px 0;}
    .pn-header-right .pn-button{margin: 24.5px 0 24.5px 30px;}
    header.fixed .pn-header-right .pn-button{margin-top: 15.5px;margin-bottom: 15px;}
}
@media only screen and (max-width: 1199px){
    .pn-logo{height: 80px}
    .pn-menu > li{padding: 31px 0}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    header.fixed .pn-menu > li{padding-top: 19px;padding-bottom: 20px}
    .pn-header-right .pn-button{position: fixed; bottom: 15px; right: 15px; margin: 0; z-index: 100;}
    header.fixed .pn-header-right .pn-button{margin: 0;}
}
@media only screen and (min-width: 992px){
    header{top: -70px;transition: all ease .5s;-moz-transition: all ease .5s;-webkit-transition: all ease .5s}
    .hidden-desktop{display:none}
    header.fixed .pn-menu > li{padding-top: 25px;padding-bottom: 24px}
    .pn-header-right .pn-wrapper-menu{float: right}
    .pn-content-body{padding-top: 50px}
    .pn-logo{transition: all ease .3s;-moz-transition: all ease .3s;-webkit-transition: all ease .3s}
    .pn-menu{float: right}
    .pn-menu li{position: relative}
    .pn-menu > li{float: left}
    .pn-menu > li.active:after,.pn-menu > li:hover:after{width: 100%}
    .pn-menu > li.active > a{font-weight: bold}
    .pn-menu > li.active > a,.pn-menu > li:hover > a{color: #ef292a}
    .pn-menu > li.haschild > a{position: relative;}
    .pn-menu > li.haschild > ul.pn-visible-mobile{display: none}
    .pn-menu > li.haschild .fa-caret-down{display: none}
    .pn-menu > li > ul{position: absolute;top: calc(100% + 20px);left: -15px;z-index: 100;list-style: none;padding-left: 0;margin-bottom: 0;width: 200px;background-color: #fff;transition: all ease .3s;opacity: 0;visibility: hidden;}
    .pn-menu > li:hover > ul{top: 100%;opacity: 1;visibility: visible;}
    .pn-menu > li > ul li:not(:last-child){margin-bottom: 1px;}
    .pn-menu > li > ul li a{padding: 10px 15px;display: block;font-size: 14px;line-height: 19px;box-shadow: 0 1px 10px rgba(5,22,35,.1);}
    .pn-menu > li > ul li:hover > a{color: #fff;background-color: #00247d}
    .pn-menu > li > ul li ul{left: 100%;top: 0;position: absolute;width: 100%;background-color: #fff;z-index: 100;list-style: none;padding-left: 0;transition: all ease .3s;transform: scaleX(0);transform-origin: left;box-shadow: 0 0 5px rgba(0,0,0,.1);-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1)}
    .pn-menu > li > ul li:hover ul{transform: scaleX(1)}
    .pn-menu > li:last-child > ul{left: initial;right: -15px;}
    #menu_mobile{display: none}
    .pn-icon-menu{display: none}
    .pn-replace.pn-mesager{bottom: 77px}
    .pn-sticky{position: sticky;top: 100px}.hidden-desktop{display:none}
    .pn-breadcrumb{margin: -30px 0 30px 0}
}
@media only screen and (max-width: 991px){
    body{position: relative}
    .container{width:100%}
    header{position: relative}
    .pn-content-body{padding-top: 30px}
    .pn-header-right .pn-info .pn-address{display: none}
    .pn-header-right .pn-button{margin-right: 20px;margin-left: 0;}
    header.fixed .pn-header-right .pn-button{margin: 15.5px 15px 15px 0}
    .pn-wrapper-menu{position: fixed;left: -100%;width: 100%;top: 0;bottom: 0;width: 320px;background-color: #ef292a;z-index: 10000;transition: all ease .3s;overflow-y: scroll}
    .pn-wrapper-menu::-webkit-scrollbar {-webkit-border-radius: 0;border-radius: 0;width: 10px;height: 10px;background-color: #f1f1f1}
    .pn-wrapper-menu::-webkit-scrollbar-track {background-color: transparent}
    .pn-wrapper-menu::-webkit-scrollbar-thumb {background-color: #8e8e8e;-webkit-border-radius: 6px;border-radius: 6px;border: 2px solid #f1f1f1}
    .pn-wrapper-menu::-webkit-scrollbar-thumb:hover{background-color: #aaa}
    .pn-wrapper-menu.active{left: 0}
    .pn-header-right .pn-button{margin-top: 20.5px;margin-bottom: 20.5px;}
    .pn-menu > li{padding: 0}
    .pn-menu li{border-top: 1px solid rgba(255,255,255,.2)}
    .pn-menu li ul{background-color: #00247d;display: none;margin-right: -41px}
    .pn-menu li[class*='haschild']{position: relative;padding-right: 41px}
    .pn-menu li[class*='haschild'] > span{position: absolute;right: 0;top: 0;color: #fff;width: 41px;height: 41px;text-align: center;line-height: 45px;font-size: 20px;cursor: pointer}
    .pn-menu li[class*='haschild'] > span:before{content: "\f107"}
    .pn-menu li[class*='haschild'].showchild > span:before{content: "\f106"}
    .pn-menu li.showchild ul{display: block}
    .pn-menu li > span:not(.fa){display: block; padding: 10px 15px 10px 5px; color: #000; text-transform: uppercase; font-weight: bold;}
    .pn-menu li ul li{padding-left: 20px;position: relative}
    .pn-menu li ul li:not(.showchild) ul{display: none}
    .pn-menu > li:not(:first-child){margin-left: 0}
    .pn-menu li ul li a{padding-left: 5px}
    .pn-menu li ul li ul{margin-left: -20px;background-color: #0e1e44}
    .pn-menu li ul li ul li{padding-left: 30px}
    .pn-menu li a{padding: 10px 15px;display: block;color: #fff}
    .pn-icon-menu{float: right;background-color: #ef292a;border: 1px solid #ef292a;margin: 17px 0;padding: 5px 8px;border-radius: 5px}
    header.fixed .pn-icon-menu{margin: 12px 0}
    .pn-icon-menu span{background-color: #fff;height: 2px;width: 30px;display: block;margin: 7px 0}
    .pn-breadcrumb{margin-bottom: 30px}
    .pn-title{font-size: 20px;line-height: 25px;margin-bottom: 30px}
    .pn-replace{display: block}
    .pn-hotline{display: inline-block;right: 15px;bottom: 170px}
    body header .pn-header:before { content: ""; position: fixed; z-index: 1000; left: 0; top: 0; bottom: 0; width: 0; background-color: rgba(0,0,0,.6); }
    body.visible_menu header .pn-header:before { width: 100%; }
    #close-menu {height: 40px; line-height: 40px; cursor: pointer; text-align: right; color: #fff; font-size: 20px; width: 40px; color: #fff; padding: 0 15px; display: block;margin: 0 auto}
    .owl-nav>div{opacity: 1 !important}
    footer{padding-top: 30px;}
}
@media only screen and (max-width: 767px){
    footer .row [class*='col']:first-child{text-align: center;margin-bottom: 50px;}
    footer .pn-logo-ft img{max-height: 100px;}
}
@media only screen and (max-width: 570px){
    .pn-replace{width: 50px;height: 50px}
    .pn-hotline{width: 50px;height: 50px;font-size: 30px;line-height: 54px}
}
@media only screen and (max-width: 480px){
    header .pn-header .pn-button{font-size: 13px;padding-left: 20px;padding-right: 20px;margin-right: 10px}
}
@media only screen and (max-width: 370px){
    .pn-title{font-size: 18px;line-height: 23px}
    .pn-wrapper-menu{width: 100%}
    .pagination>li>a, .pagination>li>span{padding: 4px 10px}
    .pn-image{border-radius: 5px}
}
